%ul.nav-links
  = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
    = link_to dashboard_snippets_path, title: 'ÄãµÄ´úÂëÆ¬¶Î', data: {placement: 'right'} do
      ÄãµÄ´úÂëÆ¬¶Î
  = nav_link(page: explore_snippets_path) do
    = link_to explore_snippets_path, title: 'ä¯ÀÀ´úÂëÆ¬¶Î', data: {placement: 'right'} do
      ä¯ÀÀ´úÂëÆ¬¶Î
