- page_title '请求配置'

%h3.page-title
  = page_title

.bs-callout.clearfix
  通过传输HTTP头字段
  %code X-Profile-Token: #{@profile_token}
  来配置请求

- if @profiles.present?
  .prepend-top-default
    - @profiles.each do |path, profiles|
      .card.card-small
        .card-header
          %code= path
        %ul.content-list
          - profiles.each do |profile|
            %li
              = link_to profile.time.to_s(:long) + ' ' + profile.profile_mode.capitalize,
                admin_requests_profile_path(profile)
- else
  %p
    没找到请求配置。
