- @hide_top_links = true
- add_to_breadcrumbs "Snippets", dashboard_snippets_path
- breadcrumb_title "New"
- page_title "新代码片段"
%h3.page-title
  新代码片段
%hr
= render "shared/snippets/form", url: snippets_path(@snippet)
