.account-well.prepend-top-default.append-bottom-default
  %ul
    %li
      版本库必须支持通过这些协议访问 <code>http://</code>, <code>https://</code>, <code>ssh://</code> or <code>git://</code>.
    %li
      如果有必要，请在 URL 中包含用户名: <code>https://username@gitlab.company.com/group/project.git</code>.
    %li
      更新超时时间为10分钟，对于大的版本库，使用 clone/push 组合。
    %li
      Git LFS <strong>不会</strong> 被同步。
