%a.toggle-sidebar-button.js-toggle-sidebar{ role: "button", type: "button", title: "开关边栏" }
  = icon('angle-double-left')
  = icon('angle-double-right')
  %span.collapse-text 折叠边栏

= button_tag class: 'close-nav-button', type: 'button' do
  = icon ('times')
  %span.collapse-text 关闭边栏
