- page_title "±à¼­", @snippet.title, "´úÂëÆ¬¶Î"
= render "header_title"

%h3.page-title
  ±à¼­´úÂëÆ¬¶Î
%hr
= render "shared/snippets/form", url: namespace_project_snippet_path(@project.namespace, @project, @snippet), visibility_level: @snippet.visibility_level
