%p
  指派变更
  - if @previous_assignee
    从
    %strong= sanitize_name(@previous_assignee.name)
  变更为
  - if @merge_request.assignee_id
    %strong= sanitize_name(@merge_request.assignee_name)
  - else
    %strong 未指派
