= render 'shared/runners/runner_description'

%hr

%p.lead 要开始接受你的作业，需要你给你的项目增加特定的 Runner 或者使用共享的 Runner
.row
  .col-sm-6
    = render 'projects/runners/specific_runners'
  .col-sm-6
    = render 'projects/runners/shared_runners'
    = render 'projects/runners/group_runners'
